@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-link">

    <a asp-action="OpeningsHours">Restaurant Openings Hours</a> 
    <br>
    <a asp-controller="Admins" asp-action="AdminList">Manage Admins</a>
    <br>
    <a asp-controller="Chefs" asp-action="Index">Manage Chefs</a>

</div>