@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-link">

    <a asp-action="OpeningsHours">Restaurant Openingsuren</a> 
    <br>
    <a asp-action="HolidayDays">Restaurant Vakantiedagen</a>
    <br>
    <a asp-action="ChefHoliday">Chef Vakantiedagen</a>
    <br>
    <a asp-controller="Admins" asp-action="AdminList">Administrators beheren</a>
    <br>
    <a asp-controller="Chefs" asp-action="Index">Chefs beheren</a>
    
</div>