@model Lekkerbek.Web.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Wijzigen</h1>

<h4>Klant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" id="birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredDishId" class="control-label">Preferred Dish</label>
                <select asp-for="PreferredDishId" class="form-control" asp-items="ViewBag.PreferredDishId"></select>
                <span asp-validation-for="PreferredDishId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>


            <div class="form-group mt-3 mb-2 ">
                <input name="profCustomer" id="profCustomer" type="checkbox" style=" width: 15px; height: 15px;" />
                <label for="profCustomer" class="fw-bolder">Professionele klant toevoegen ?</label>

            </div>
            <div id="ProfCustCont" hidden>
                <div class="form-group">
                    <label asp-for="FirmName" class="control-label"></label>
                    <input asp-for="FirmName" class="form-control" />
                    <span asp-validation-for="FirmName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactPerson" class="control-label"></label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Btw" class="control-label"></label>
                    <input asp-for="Btw" class="form-control" />
                    <span asp-validation-for="Btw" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BtwNumber" class="control-label"></label>
                    <input asp-for="BtwNumber" class="form-control" />
                    <span asp-validation-for="BtwNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    document.getElementById("profCustomer").addEventListener('change', function () {
        if (this.checked) {
            console.log("Checkbox is checked..");
            document.querySelector("#ProfCustCont").hidden = false;

        } else {
            console.log("Checkbox is not checked..");
            document.querySelector("#ProfCustCont").hidden = true;
        }
    });
        var birthday = document.getElementById("birthday");
        var birthdayError = document.getElementById("birthday-error");
        var date = new Date();
        date.setFullYear(date.getFullYear() - 18);
        birthday.max = date.toISOString().split("T")[0];

        birthday.addEventListener('change', function () {
            var selectedDate = new Date(birthday.value);
            if (selectedDate > date) {
                birthdayError.style.display = 'block';
                birthday.setCustomValidity('You must be at least 18 years old.');
            } else {
                birthdayError.style.display = 'none';
                birthday.setCustomValidity('');
            }
        });
</script>