@using Kendo.Mvc.UI;
@using Lekkerbek.Web.Models;
@using Lekkerbek.Web.ViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Klant Lijst</h1>
<p id="error_text" class="text-danger fw-bold"></p>

@(Html.Kendo().Grid<CustomerViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Name).Title("Naam/Bedrijfsnaam");
                                columns.Bound(p => p.Email);
                                columns.Bound(p => p.PhoneNumber);      
                                columns.Bound(p => p.PreferredDishName);
                                columns.Bound(p => p.CustomerId).Title("  ").Filterable(false).ClientTemplate("<div class=' k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary' ><a  href='/Customers/Edit/#=CustomerId#'>Wijzigen</a></div>");
                                columns.Command(command => { command.Destroy().Text("Verwijderen"); }).Width(200);

                            })
                            .ToolBar(toolbar => toolbar.ClientTemplate("<div class='m-2 k-button k-button-md k-rounded-md k-button-solid k-button-solid-base k-toolbar-button  k-toolbar-tool'><a href='/Customers/Create'>Nieuwe klant Toevoegen</a></div>"))
                            .Pageable()
                            .Sortable()

                            .Filterable(filterable => filterable
    .Extra(false)
    .Operators(operators => operators
        .ForString(str => str.Clear()
            .StartsWith("Begin met")
            .IsEqualTo("Is gelijk aan")
            .IsNotEqualTo("Is niet gelijk aan")
                   )
                  
               )
    )
                            .Scrollable()
                            .ClientDetailTemplateId("template")
                            .HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                
                                .PageSize(20)
                                .Events(events => events.Error("error_handler"))
                                .Model(model => model.Id(p => p.CustomerId))
                                //.Create(update => update.Action("EditingPopup_Create", "Customers"))
                                .Read(read => read.Action("DetailTemplate_HierarchyBinding_Customers", "Customers"))
                                //.Read(read => read.Action("EditingPopup_Read", "Customers"))
                                .Destroy(update => update.Action("EditingPopup_Destroy", "Customers"))
                            ))


<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
                        .Name("tabStrip_#=CustomerId#")
                        .SelectedIndex(0)
                        .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                        .Items(items =>
                        {
                            items.Add().Text("Details").Content(@<text>
                                @(Html.Kendo().Grid<CustomerViewModel>()
                            .Name("grid_#=CustomerId#") // template expression, to be evaluated in the master context
                            .Columns(columns =>
                            {
                                        columns.Bound(p => p.ContactPerson).Width(150);
                                        columns.Bound(p => p.Address).Width(350);
                                        columns.Bound(p => p.Btw).Width(100); 
                                        columns.Bound(p => p.BtwNumber);

                                        columns.Bound(p => p.Birthday).Format("{0:dd/MM/yyyy}");
                                    })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(5)
                            .Read(read => read.Action("DetailTemplate_HierarchyBinding_Details", "Customers", new { customerId = "#=CustomerId#" }))
                        )
                        .Pageable()
                        .Sortable()
                        .ToClientTemplate()
        )
                                </text>
                            );

                        })
                        .ToClientTemplate())
</script>

<script >  
    kendo.culture("nl-BE");
    console.log(kendo.culture().name);

</script>
<script id="template" type="text/javascript">
   
    function error_handler(e) {
        if (e.errors) {
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
            var message = " ";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += "- " + this + "\n";
                    });
                }
            });
            document.getElementById("error_text").innerText = message;
            //alert(message);
        }
    }
   
</script>
<style>
    .k-detail-cell .k-tabstrip .demo-section {
        padding: 0.2em;
    }

    .employee-details ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

        .employee-details ul li {
            margin: 0;
            line-height: 1.7em;
        }

    .employee-details label {
        display: inline-block;
        width: 90px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    }
</style>

