@using Kendo.Mvc.UI;


@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}


@(Html.Kendo().Grid<Dish>()
.Name("grid")
.ToolBar(tools =>
{
        tools.ClientTemplate("<a style href='/Dishes/Create'>Create</a>"); ;
})
.Columns(columns =>
{
    columns.Bound(f => f.DishId);
    columns.Bound(f => f.Name);
    columns.Bound(f => f.Description);
    columns.Bound(f => f.Price);
        columns.Bound(p => p.DishId)
        .Title("Edit").ClientTemplate("<a href='/Dishes/Edit?id=#=DishId#'>Edit</a>");

    columns.Command(command =>
    {
        command.Destroy();
    });
})
.Editable(editable => editable.Mode(GridEditMode.PopUp))
.DataSource(d =>
{
    d.Ajax()
    .Model(model =>
    {
        model.Id(product => product.DishId); // Specify the property which is the unique identifier of the model.
        model.Field(product => product.DishId).Editable(false); // Make the OrderID property not editable.
    })
    .Create(create => create.Action("CreateDish", "Dishes")) // Action invoked when the user saves a new data item.
    .Read(read => read.Action("ReadDishes", "Dishes"))  // Action invoked when the Grid needs data.
    .Update(update => update.Action("UpdateDishes", "Dishes"))  // Action invoked when the user saves an updated data item.
    .Destroy(delete => delete.Action("DeleteDish", "Dishes")); // Action invoked when the user removes a data item.
})
    )
