@model Lekkerbek.Web.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Maak Bestelling</h1>
<div>
    <ol class="stepper">
        <li class="stepper__item-doing">
            <h3 class="stepper__title">Stap 1</h3>
            <p class="stepper__desc">Selecteer klant</p>
        </li>
        <li class="stepper__item">
            <h3 class="stepper__title">Stap 2</h3>
            <p class="stepper__desc">Kies tijdslot</p>
        </li>
        
        <li class="stepper__item">
            <h3 class="stepper__title">Stap 4</h3>
            <p class="stepper__desc">Voeg menu item toe</p>
        </li>
    </ol>
</div>

<h4>Kies Klant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <a class="btn btn-danger" asp-area="" asp-controller="Customers" asp-action="Create">Maak Nieuwe Klant Aan</a>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Klant Naam</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Volgende Stap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}