@model Lekkerbek.Web.Models.Chef

@{
    ViewData["Title"] = "View";
}

<h1>Create Order</h1>
<div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
        <li class="c-stepper__item-done">
            <h3 class="c-stepper__item">Step 1</h3>
            <p class="c-stepper__desc">Select Customer</p>
        </li>
        <li class="c-stepper__item-done">
            <h3 class="c-stepper__title">Step 2</h3>
            <p class="c-stepper__desc">Select Time Slot</p>
        </li>
        <li class="c-stepper__item-done">
            <h3 class="c-stepper__title">Step 3</h3>
            <p class="c-stepper__desc">Select Chef</p>
        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Step 4</h3>
            <p class="c-stepper__desc">Add to orderline</p>
        </li>
    </ol>
</div>

<h4>Select Chef</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectChef">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                

                <label asp-for="ChefId" class="control-label">Chef Name</label>
                <select asp-for="ChefId" class="form-control" asp-items="ViewBag.ChefId"></select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Next Step" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
