@using Kendo.Mvc.UI;
@using Lekkerbek.Web.Models;
@using Lekkerbek.Web.ViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Chef Lijst</h1>
<p id="error_text" class="text-danger fw-bold"></p>

@(
Html.Kendo().Grid<ChefViewModel>()
.Name("grid")
.Columns(columns =>
{    
    columns.Bound(f => f.ChefName);
    columns.Bound(f => f.Email);
    columns.Command(command => { command.Edit().Text("Wijzigen"); command.Destroy().Text("Verwijderen"); }).Width(350);
})
 .ToolBar(toolbar => toolbar.ClientTemplate("<div class='m-2 k-button k-button-md k-rounded-md k-button-solid k-button-solid-base k-toolbar-button  k-toolbar-tool'><a href='/Chefs/AssignChefList/'>Chef Toevoegen</a></div>"))
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Pageable()
.Sortable()
.Scrollable()
.HtmlAttributes(new { style = "height:550px;" })
.DataSource(d =>
{
    d.Ajax()
    .Model(model =>
    {
        model.Id(chef => chef.ChefId); // Specify the property which is the unique identifier of the model.
        model.Field(chef => chef.ChefId).Editable(false); // Make the OrderID property not editable.
        model.Field(chef => chef.Email).Editable(false);
        model.Field(chef => chef.IdentityId).Editable(false);

    })
    .Events(events => events.Error("error_handler"))
    .Read(read => read.Action("ReadChefs", "Chefs")) // Action invoked when the Grid needs data.
    .Update(update => update.Action("EditingPopup_Update", "Chefs"))
    .Destroy(delete => delete.Action("DeleteChef", "Chefs")); // Action invoked when the user removes a data item.
})
    )

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
            var message = " ";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += "- " + this + "\n";
                    });
                }
            });
            document.getElementById("error_text").innerText = message;
            //alert(message);
        }
    }

</script>
