@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreer";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Maak nieuw account aan.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FName" class="form-control" autocomplete="First Name" aria-required="true" />
                <label asp-for="Input.FName"></label>
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LName" class="form-control" autocomplete="Last Name" aria-required="true" />
                <label asp-for="Input.LName"></label>
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Birthday" class="form-control" autocomplete="First Name" aria-required="true" />
                <label asp-for="Input.Birthday"></label>
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="Last Name" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.City" class="form-control" autocomplete="Last Name" aria-required="true" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PostalCode" class="form-control" autocomplete="First Name" aria-required="true" />
                <label asp-for="Input.PostalCode"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.StreetName" class="form-control" autocomplete="Last Name" aria-required="true" />
                <label asp-for="Input.StreetName"></label>
                <span asp-validation-for="Input.StreetName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.PreferredDishId" class="form-control" asp-items="ViewBag.PreferredDishId" aria-required="true"></select>
                <label asp-for="Input.PreferredDishId"></label>
                <span asp-validation-for="Input.PreferredDishId" class="text-danger"></span>
            </div>
            <div class="form-floating m-4 ">
                <input name="profCustomer" id="profCustomer" type="checkbox" style=" width: 15px; height: 15px;" />
                <label for="profCustomer" class="fw-bolder">Bent u een professionele klant ?</label>

            </div>
            <div id="ProfCustCont" hidden>
                <div class="form-floating">
                    <input asp-for="Input.FirmName" class="form-control" aria-required="true" />
                    <label asp-for="Input.FirmName" class="control-label"></label>
                    <span asp-validation-for="Input.FirmName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ContactPerson" class="form-control" aria-required="true" />
                    <label asp-for="Input.ContactPerson" class="control-label"></label>
                    <span asp-validation-for="Input.ContactPerson" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Btw" class="form-control" aria-required="true" />
                    <label asp-for="Input.Btw" class="control-label"></label>
                    <span asp-validation-for="Input.Btw" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.BtwNumber" class="form-control" aria-required="true" />
                    <label asp-for="Input.BtwNumber" class="control-label"></label>
                    <span asp-validation-for="Input.BtwNumber" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Registreren</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script type="text/javascript">
    document.getElementById("profCustomer").addEventListener('change', function () {
        if (this.checked) {
            console.log("Checkbox is checked..");
            document.querySelector("#ProfCustCont").hidden = false;

        } else {
            console.log("Checkbox is not checked..");
            document.querySelector("#ProfCustCont").hidden = true;
        }
    });

</script>