<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LEKKERBEK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lekkerbek.Web.styles.css" asp-append-version="true" />

    <!--Styles.Render("~/UIFramework/KendoUI/kendo/kendoui.web/styles/kendo.common.min.css")-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://kendo.cdn.telerik.com/themes/6.2.0/bootstrap/bootstrap-main.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ood_les6_prep_kendo.styles.css" asp-append-
          version="true" />
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.kendostatic.com/2023.1.314/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.314/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/cultures/kendo.culture.nl-BE.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/messages/kendo.messages.nl-NL.min.js"></script>
    <script src="~/js/kendo-ui-license.js"></script>
    <style>
   /* .navbar {
    overflow: hidden;
    background-color: #333;
    }

    .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }*/

    
    </style>
</head>
<body>
    <header>
    

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/Logo Lekkerbek.jpeg" width="100px" hight="80px" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Klanten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Bestellingen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MenuItems" asp-action="Index">Menu</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown1">

                                    <p class="nav-link text-dark m-0">Restaurant beheren</p>
                                                                     
                                    <div class="dropdown-content1">

                                        <a class="nav-link text-dark" asp-controller="RestaurantManagement" asp-action="OpeningsHours">Openingsuren</a>
                                        <a class="nav-link text-dark" asp-controller="RestaurantManagement" asp-action="HolidayDays">Vakantiedagen restaurant</a>
                                        <a class="nav-link text-dark" asp-controller="RestaurantManagement" asp-action="ChefHoliday">Vakantiedagen chefs</a>
                                        <a class="nav-link text-dark" asp-controller="Admins" asp-action="AdminList">Administrators beheren</a>
                                        <a class="nav-link text-dark" asp-controller="Chefs" asp-action="Index">Chefs beheren</a>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Cashier") )
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrdersCashier" asp-action="Index">Bestellingen </a>
                            </li>
                        }
                        @if (User.IsInRole("Chef") )
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrdersChef" asp-action="Index">Bestellingen </a>
                            </li>
                        }
                        @if (User.IsInRole("Customer") && !User.IsInRole("Chef") && !User.IsInRole("Cashier") && !User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderModule" asp-action="Index">Bestellingen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderModule" asp-action="MenuItemList">Nieuwe bestelling maken</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderModule" asp-action="EditCustomer">Details aanpassen</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - <b>Groep - 2 (Frederik - Taha - Sora - Mathijs - Imdat)  </b>
        </div>
    </footer>@*
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
