@{
    ViewData["Title"] = "Log In";
}

<div class="text-center">
    <h1 class="display-4 mt-lg-5">Welcome to Lekkerbek Order Management Systeem</h1>
    <img src="/img/Logo Lekkerbek.jpeg" width="600vh"  alt="logo">

    
</div>
