@model Lekkerbek.Web.Models.OrderLine

@{
    ViewData["Title"] = "Edit";
}

<h1>Wijzigen</h1>

<h4>Menu items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrderLine" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderLineID" />
            <div class="form-group">
               
                <input asp-for="OrderID" class="form-control" readonly hidden/>
                
            </div>
            <div class="form-group">
                <label asp-for="MenuItemId" class="control-label"></label>
                <select asp-for="MenuItemId" class="form-control" asp-items="ViewBag.DishID"></select>
                <span asp-validation-for="MenuItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishAmount" class="control-label"></label>
                <input asp-for="DishAmount" class="form-control" />
                <span asp-validation-for="DishAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraDetails" class="control-label"></label>
                <input asp-for="ExtraDetails" class="form-control" />
                <span asp-validation-for="ExtraDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditOrder" asp-route-id="@Model?.OrderID">Terug naar het overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
