@model Lekkerbek.Web.Models.OrderLine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExtraDetails" class="control-label"></label>
                <input asp-for="ExtraDetails" class="form-control" />
                <span asp-validation-for="ExtraDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishAmount" class="control-label"></label>
                <input asp-for="DishAmount" class="form-control" />
                <span asp-validation-for="DishAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <select asp-for="OrderID" class ="form-control" asp-items="ViewBag.OrderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DishID" class="control-label"></label>
                <select asp-for="DishID" class ="form-control" asp-items="ViewBag.DishID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlotID" class="control-label"></label>
                <select asp-for="TimeSlotID" class ="form-control" asp-items="ViewBag.TimeSlotID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
