@model Lekkerbek.Web.Models.OrderLine

@{
    ViewData["Title"] = "Create";
}

<h1>Aanmaken</h1>

<h4>OrderLijn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuItemId" class="control-label"></label>
                <select asp-for="MenuItemId" class="form-control" asp-items="ViewBag.DishID"></select>
            </div>

            <div class="form-group">
                <label asp-for="DishAmount" class="control-label"></label>
                <input asp-for="DishAmount" class="form-control" />
                <span asp-validation-for="DishAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraDetails" class="control-label"></label>
                <input asp-for="ExtraDetails" class="form-control" />
                <span asp-validation-for="ExtraDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("Adinistrator"))
{
    <div>
        <a asp-controller="Orders" asp-action="EditOrder" asp-route-id="@ViewBag.Id">Terug naar Bestellen</a>
    </div>
}
else
{
    <div>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-controller="Orders" asp-action="EditOrder" asp-route-id="@ViewBag.Id">Terug naar Bestellen</a>
        }
        @if (User.IsInRole("Customer")&& !User.IsInRole("Administrator"))
        {
            <a asp-controller="OrderModule" asp-action="EditOrder" asp-route-id="@ViewBag.Id">Terug naar Bestellen</a>

        }
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
